@charset "UTF-8";

@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'),
  url('../../fonts/roboto-slab-300-normal.woff2') format('woff2'),
  url('../../fonts/roboto-slab-300-normal.woff') format('woff'),
  url('../../fonts/roboto-slab-300-normal.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
