@charset "UTF-8";

@font-face {
  font-family: 'Roboto Slab';
  src: local('Roboto Slab ExtraBold'), local('RobotoSlab-ExtraBold'),
  url('../../fonts/roboto-slab-800-normal.woff2') format('woff2'),
  url('../../fonts/roboto-slab-800-normal.woff') format('woff'),
  url('../../fonts/roboto-slab-800-normal.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
